html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#results-content { height: 100%; width: 100%; }
#map-canvas { height: 100%; width: 70%; float: left;}
#events-sidebar { width: 29%; float: right; }